<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="search-employee">
      <input class="form-control" type="text" name="search" (keyup)="filterList()" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a employee by number or name">
    </div>
    <div class="panel-body" style="margin-bottom: 70px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Employee No</th>
            <th>Employee Name</th>
            <th>Date of Joining</th>
            <th>Department</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.empNo}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.doj}}</td>
            <td>{{employee.deptDescription}}</td>
            <td>{{employee.salary}}</td>
            <td style="white-space:no-wrap; display:flex;"><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-primary" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
